* {
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 20rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 1rem;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

#card-text h2,
#card-text p {
    text-align: center;
    margin: 0;
}

#card-text h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

#card-text p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: .7rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}